* {
    color: var(--texto);
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--bg);
}


/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px var(--texto);
    height: 10vh;
}

.logo {
    color: #fff;
    font-size: 2.2rem;
    font-family: "Bebas Neue", sans-serif;
}


/* Menu Nav e input de busca */
.nav-busca{
    display: flex;
    align-items: center;
    position: relative;
}

.icon-lupa{    
    position: absolute;
    height: 21px;
    top: 15px;
    left: 13px;
    width: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-header {
    background-color: var(--bg);
    border: 1px solid #fff;
    border-radius: 10px;
    width: 18vw;
    height: 29px;
    padding: 0 40px;
}

.input-header::placeholder {
    color: var(--texto);
}

.input-header:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #9c9c9c;
}


/* menu de navegação */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
}

li:hover, li a:hover {
    color: #fff;
    text-decoration: none;
}

.menu-mobile, .menu-overlay, .menu-hamb{
    display: none;
} /* Ocultar menu versão mobile */

.sec-carousel {
display: flex;
justify-content: center;
margin-top: 15px;
}


/* Main: Categorias*/
main {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px var(--texto);
}

.fil-rec {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px var(--texto);
}

.fil-list nav {
    border: solid 1px var(--texto);
}

.fil-rec nav ul {
    width: 100%;
    display: flex;
    gap: 5vw;
    justify-content: flex-end;
}

.fil-rec li{
    cursor: pointer;
}


/* Main: Filmes, está em arquivo CSS separado - filmes.css */


/* Footer */
footer {
    color: var(--texto);
    padding: 30px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footer-logo {
    color: #fff;
    font-size: 1.2rem;
    font-family: "bebas neue", sans-serif;
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-nav a {
    color: #ffffff;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 0.9rem;
}