* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--bg);
}

/* Header */

.trending-header {
    text-align: center;
    padding: 60px 20px;
}