
/* Página inícial */

*{
    color: #fff;
}

body{
    background-color:#3a3d40;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: solid 1px #fff;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #fff;
    gap: 5vw;
}